@charset "utf-8";

/*-----------------------------------------------------------------------------------

Theme Name:     セカイコネクト管理ツール
Theme URI:      http://sekai-connect.com/
Description:    Wordpress theme for sekai-connect.com
Author:         Nishijima Kazutoshi
Version:        1.00

-----------------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

th {
    font-weight: normal;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

input, select, textarea, img {
    vertical-align:middle;
}

ul, dl, ol {
    list-style: none;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

img,
video,
object {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: none;
}

/* ========================================
    トップページ
======================================== */

#index-video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background: #000;
	background-size: cover;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1000;
}

#index {
	width: 100%;
	height: 100%;
	background: url("images/dot-3x3.png");
	position: relative;
}

#index-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

/* ========================================
    固定ページレイアウト
======================================== */

section {
    width: 100%;
    height: 100%;
    float: right;
}

article {
    height: 100%;
    margin-left: 240px;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align:bottom;
}

/* ========================================
    サイドメニュー
======================================== */

aside {
    width: 240px;
    height: 100%;
    border-right: 1px solid #ddd;
    /*background: url("images/aside-bg.png") no-repeat left bottom #fff;*/
    margin-right: -240px;
    float: left;
    position: fixed;
}

aside #logo {
    text-align: center;
    padding: 20px 0;
}

aside #name {
    color: #fff;
    background: #555;
    padding: 10px;
}

#nav {
    width: 100%;
}

#nav li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    position: relative;
}

#nav li::after {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    right: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}

#nav li:hover {
    cursor: pointer;
    background: #fafafa;
}

#nav li.select {
    background: #f6f6f6;
}

#nav li i {
    width: 1em;
    text-align: center;
    margin: 0 5px 0 0;
}

/* ========================================
    タブ
======================================== */

.disnon {
	display: none;
}

/* ========================================
    共通設定
======================================== */

h2 {
    font-size: 24px;
    border-left: 5px solid #da5;
    margin: 40px 0 0;
    padding: 0 10px 0;
}

.hide {
    display: none;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.disc {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/* ========================================
    お知らせ
======================================== */

.notice {
    padding: 0 40px;
}

.notice dl {
	margin: 40px 0;
}

.notice dl dt {
	border: 1px solid #ddd; 
	background: url("images/notice_open.png") 98% center no-repeat #fff;
	background-size: auto 50%;
	margin: 5px 0;
	padding: 15px;
	cursor: pointer;
}

.notice dl dt i {
	color: #da5;
    margin: 0 10px 0 0;
}

.notice dl dt:hover {
	background: url("images/notice_open.png") 98% center no-repeat #f6f6f6;
	background-size: auto 50%;
}

.notice dl dt.open {
	background: url("images/notice_close.png") 98% center no-repeat #f6f6f6;
	background-size: auto 50%;
}

.notice dl dd {
	background: #fff;
	margin: 0 0 20px;
	padding: 20px;
	display: none;
}

/* ========================================
    フィード
======================================== */

.rss {
    width: 100%;
    padding: 15px;
}

.rss .rssRow {
    overflow: hidden;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

.odd {
    background: #f3f3f3;
}

.even {
    background: #fcfcfc;
}

.rss .rssRow p {
    float: left;
}

.rss .rssRow div {
    color: #888;
    font-size: 12px;
    padding: 0 0 0 20px;
    float: left;
}

/* ========================================
    調達依頼一覧
======================================== */

.request {
    width: 200px;
    text-align: center;
    border: 2px solid #333;
    background: #fff;
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.request p {
    color: #fff;
    background: #333;
    padding: 10px;
}

.request dt {
    padding: 10px 0 0;
}

.request dd {
    padding: 10px 0 0;
}

.request dd input {
    width: 50%;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 0.5em;
    outline: none;
    border-radius: 5px;
}

.request form input[type="submit"] {
    display: block;
    cursor: pointer;
    width: 75%;
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    background: #da5;
    margin: 10px auto;
    padding: 0.5em;
    border-radius: 5px;
}

.request form input[type="submit"]:hover {
    background: #b83;
}

/* ========================================
    商品登録
======================================== */

.entry {
    padding: 0 40px;
}

#entry-logo {
    text-align: center;
}

.caution {
    background: #f6f6f6;
    margin: 20px 20px 40px;
    padding: 20px;
}

.caution p {
    color: #e00;
    padding: 0 0 10px;
}

.entry form {
    padding: 0 0 80px;
}

.entry table {
    width: 100%;
    border-top: 1px solid #ddd;
}

.entry th {
    width: 30%;
    vertical-align: middle;
    border-bottom: 1px dotted #ccc;
    padding: 20px;
}

.entry td {
    width: 70%;
    border-bottom: 1px dotted #ccc;
    padding: 20px;
}

.example {
    color: #888;
    font-size: 12px;
    padding: 10px 0 0;
}

.entry form input[type="text"],
.entry form textarea {
    width: 100%;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 1em;
    outline: none;
    border-radius: 5px;
}

.entry form select {
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 1em;
    outline: none;
    border-radius: 5px;
}

.entry form input[type="submit"] {
    display: block;
    cursor: pointer;
    width: 240px;
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #da5;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    top: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #b83;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.entry form input[type="submit"]:hover {
    top: 25px;
    box-shadow: 0 0 0 #b83;
}

.entry form .required_asterisk {
    color: #e00;
    font-size: 12px;
    padding: 5px;
    text-wrap:none;
}

/* ========================================
    サポート窓口
======================================== */

.support {
    padding: 0 40px;
}

.support .tel {
    font-size: 36px;
    text-align: center;
    margin: -20px 0 0;
}

.support .tel i {
    margin: 0 10px 0 0;
}

.support .tel span {
    font-size: 14px;
    padding: 0 15px;
}

.support form {
    padding: 40px 0 80px;
}

.support table {
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
}

.support th {
    width: 30%;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
    padding: 20px;
}

.support td {
    width: 70%;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.support form textarea {
    width: 100%;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 1em;
    outline: none;
    border-radius: 5px;
}

.support form .required_asterisk {
    color: #e00;
    font-size: 12px;
    padding: 5px;
    text-wrap:none;
}

.support form input[type="submit"] {
    display: block;
    cursor: pointer;
    width: 240px;
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #da5;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    top: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #b83;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.support form input[type="submit"]:hover {
    top: 25px;
    box-shadow: 0 0 0 #b83;
}

/* ========================================
    成約フォーム
======================================== */

.contract {
    padding: 0 40px;
}

.caution {
    background: #f6f6f6;
    margin: 20px 20px 40px;
    padding: 20px;
}

.caution p {
    color: #e00;
    padding: 0 0 10px;
}

.contract form {
    padding: 40px 0 80px;
}

.contract table {
    width: 100%;
    border-top: 1px solid #ddd;
}

.contract th {
    width: 30%;
    vertical-align: middle;
    border-bottom: 1px dotted #ccc;
    padding: 20px;
}

.contract td {
    width: 70%;
    border-bottom: 1px dotted #ccc;
    padding: 20px;
}

.example {
    color: #888;
    font-size: 12px;
    padding: 10px 0 0;
}

.contract form input[type="text"],
.contract form textarea {
    width: 100%;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 1em;
    outline: none;
    border-radius: 5px;
}

.contract form select {
    width: 98%;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 1em;
    outline: none;
    border-radius: 5px;
}

.contract form input[type="submit"] {
    display: block;
    cursor: pointer;
    width: 240px;
    color: #fff;
    font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: #da5;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    top: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 0 #b83;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.contract form input[type="submit"]:hover {
    top: 25px;
    box-shadow: 0 0 0 #b83;
}

.contract form .required_asterisk {
    color: #e00;
    font-size: 12px;
    padding: 5px;
    text-wrap:none;
}

#acForm {
    overflow: hidden;
    width: 100%;
    position: relative;
}

#acForm p {
    display:block;
    width: 100%;
    color: #888;
    line-height:40px;
    background: #eee;
    border-radius: 4px;
    text-align:center;
    cursor:pointer;
    z-index: 9999;
}

.box-wrap {
    overflow: hidden;
    width: 100%;
    clear: both;
}



#acForm .box {
    display:none;
    width:100%;
    padding: 50px 0 0;
}

#acForm dl {
    width: 23%;
    float: left;
    padding: 10px;
}

.single {
    border-top: 1px solid #ccc;
    padding: 20px 0;
}
/*preview template mail*/
.preview_class{
    text-align: left;
}
.preview_class label {
    width: 100px;
}
.preview_class input {
    width: 450px !important;
    margin-bottom: 10px;
}
.preview_class textarea {
    width: 450px !important;
    margin-bottom: 10px;
}
.preview-txt{
    text-align: center;
    padding: 12px 0px 0px 0px !important;
    height: 40px;
}
.preview-txt a{
    margin: 5px !important;
    padding: 3px !important;
}

/*end preview template mail*/
/*data tables product list*/
.sel-product-list{
    width: 10px !important;
}
.input-price-list{
    padding: 0px !important;
    margin: 25px 0px 0px 0px;
}
.td-price-list{
    text-align: center;
    padding: 0px !important;
    vertical-align: middle !important;
    height: 40px;
}
.td-price-list a{
    margin: 5px !important;
    padding: 3px !important;
}
/*end data tables product list*/
.list-group a.active:before{
    content: "✔ ";
}
.list-group a.active{
    background-color:white;
    color: blue;
}
.list-group a{
    text-decoration: none;
}

/* New */
.set-h3 h3 {
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
    background-color: #e7953a;
    border: 1px solid #fff;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 1;
    box-shadow: 1px 2px 5px #000;
}

.set-h3 h3 > a {
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.set-h3 h3 > span {
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}

.set-h3 h3 > a:hover {
    text-decoration: none;
}

.set-other-news h3 {
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    background-color: #2d7baa;
    margin-top: 10px;
}
.set-other-news h3 >a {
    color: #fff;
}

.set-other-news h3 >a:hover {
    text-decoration: none;
}

/*g circle{*/
    /*display: none!important;*/
/*}*/

/*g path{*/
    /*display: none!important;*/
/*}*/

/*g g:hover{*/
    /*display: none!important;*/
/*}*/

/*g circle g{*/
    /*display: none!important;*/
/*}*/

.w40psubleft{
    white-space: nowrap;
    /*max-width: 300px;*/
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w40psub{
    white-space: nowrap;
    /*max-width: 1178px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_note { float: right; }
.text_note{ float: right; margin: 5px 5px 0px 5px; }