html, body {
    height: auto;
    height: 100%;
    position: relative;
}
body {
    background-color: #f7f7f7;
    padding-top: 62px;
    font-family: Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
/* HEADER */
body > header {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

#logo {
    margin: 13px 30px;
    font-size: 0;
    line-height: 0;
    padding: 0;
}

body > header > ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

body > header > ul > li {
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 0 30px;
}

body > header > ul > li:last-child {
    padding: 0 22px;
}

body > header > ul > li:last-child a {
    font-size: 14px;
}

body > header > ul > li a {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

body > header > ul > li a:hover,
body > header > ul > li a:focus { color: #fff; }

body > header > ul > li:last-child a i {
    margin-left: 11px;
    font-size: 17px;
}

body > header > ul > li:last-child a i:first-child { margin-left: 5px; }

body > header > ul > li .dropdown-menu {
    top: 50px;
    padding: 0;
    border-radius: 9px;
}

body > header > ul > li .dropdown-menu a {
    color: #999;
    font-size: 14px;
    line-height: 27px;
    background-color: #333;
    display: block;
    position: relative;
    z-index: 10;
}

body > header > ul > li .dropdown-menu li:first-child {
    position: relative;
}

body > header > ul > li .dropdown-menu li:first-child:before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #333;
    top: -5px;
    right: 18px;
    position: absolute;
    z-index: 9;
}

body > header > ul > li .dropdown-menu a:hover,
body > header > ul > li .dropdown-menu a:focus {
    text-decoration: none;
    background-color: #222;
    color: #999;
}

body > header > ul > li .dropdown-menu li:first-child a {
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

body > header > ul > li .dropdown-menu li:last-child a {
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

/* Sidebar */
#container > aside {
    width: 250px;
    height: 100%;
    border-right: none;
    margin-right: -250px;
    float: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 60px;
}

/* Container */
#container {
    min-height: 100%;
    position: relative;
    min-width: 1200px;
}

#container > article {
    margin-left: 250px;
    padding-bottom: 80px;
}

#container .side-body {
    margin-left: 0;
}

#container > article > .container {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container section {
    margin: 0 20px 22px;
    width: auto;
    height: auto;
    float: none;
}

.container section > header h2 {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 17px;
    padding: 14px 20px;
    border: none;
}

.container section > article {
    box-shadow: 0 0 2px 2px #eee;
    padding: 20px;
    background-color: #fff;
    margin: 0;
    height: auto;
}

.container section > article h3{
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 10px;
}

.link-btn {
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    border-radius: 3px;
    background-color: #333;
    padding: 5px 9px;
    margin-left: 12px;
    display: inline-block;
    vertical-align: top;
}

.link-btn:hover,
.link-btn:focus {
    color: #fff;
    text-decoration: none;
    opacity: .8;
}

.content-2col {
    margin: 0 -10px;
}

.content-2col::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.content-2col .a-col {
    float: left;
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.content-2col .a-col table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.content-2col .a-col tr {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 35px;
}

.content-2col .a-col tr td:first-child {
    width: 132px;
    box-sizing: border-box;
    padding: 8px 22px;
}

.content-2col .a-col tr td a,
.content-2col .a-col tr td a:hover,
.content-2col .a-col tr td a:focus { color: #333; }

.banner-top { margin-bottom: 23px; }

.banner-top img {
    width: 100%;
    height: auto;
}

.box-link-on-page {
    background-color: #004d5d;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    padding: 10px 28px;
    margin-bottom: 20px;
}

.box-link-on-page ul {
    margin: 0;
    list-style: none;
    display: inline-block;
    padding: 0 0 0 28px;
}

.box-link-on-page ul li {
    display: inline-block;
    margin-right: 5px;
}

.box-link-on-page ul a {
    display: block;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    text-align: center;
    width: 140px;
    padding: 0 7px;
    box-sizing: border-box;
}

.box-link-on-page ul a:hover,
.box-link-on-page ul a:focus {
    opacity: .8;
    text-decoration: none;
    color: #333;
}

.contents-group > header {
    font-size: 0;
    line-height: 0;
}

.contents-group > header img {
    width: 100%;
    height: auto;
}

/* Fixed 20170323 */
.content-list-table {
    max-height: 246px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
    box-sizing: content-box;
}
.content-list-table > table {
    table-layout: auto;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 28px;
    background-color: #f4f4f4;
    width: 100%;
}

.content-list-table > table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.content-list-table > table tr td:first-child {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    width: 360px;
    box-sizing: border-box;
    padding: 10px 10px 10px 35px;
    position: relative;
}

.content-list-table > table tr td:last-child {
    box-sizing: border-box;
    padding: 10px 35px 10px 0px;
    position: relative;
}

.content-list-table > table tr td a,
.content-list-table > table tr td a:hover,
.content-list-table > table tr td a:focus { color: #333; }

/* End edit */

.display-inline {
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.display-inline > * {
    display: inline-block;
    margin-bottom: 15px;
}

/* Footer */

#container > footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 240px;
    width: 100%;
}

#container > footer > ul {
    padding: 24px 0 22px;
    margin: 0;
    list-style: none;
}

#container > footer > ul li {
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 0 15px 0 20px;
}

#container > footer > ul li:first-child { border-left: none; }

#container > footer a,
#container > footer a:hover,
#container > footer a:focus { color: #fff; }

/* And style 20160323 */
.content-a-col .a-col {
    padding: 0 10px;
    box-sizing: border-box;
}

.content-a-col .a-col table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.content-a-col .a-col tr {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    line-height: 35px;
}

.content-a-col .a-col tr td:first-child {
    width: 132px;
    box-sizing: border-box;
    padding: 8px 22px;
}

.content-a-col .a-col tr td a,
.content-a-col .a-col tr td a:hover,
.content-a-col .a-col tr td a:focus { color: #333; }

.container section > header h2.icon-title {
    padding-left: 64px;
    position: relative;
}

.container section > header h2.icon-title:before {
    content: url("../images/icon_title.jpg");
    position: absolute;
    top: 11px;
    left: 19px;
}

/* css for sort page */
.form-sort {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 62px;
}

.form-sort .content-2col { padding: 18px; }

.content-group-control {
    padding: 18px 18px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.title-control {
    font-size: 18px;
    border-left: 4px solid #a0a0a0;
    padding-left: 10px;
}

div.title-control { margin-bottom: 10px; }

.select-multi {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 266px;
    overflow-y: auto;
}

.select-multi:focus,
.content-group-control select:focus,
.content-group-control .calender-picker input:focus,
.bottom-form button:focus { outline: none; }

.select-multi input[type="checkbox"] { display: none; }
.select-multi label {
    display: block;
    position: relative;
    padding: 9px 53px 8px;
    border-bottom: 1px solid #ddd;
    height: 44px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: normal;
}

.select-multi label:last-child {
    border-bottom: none;
}

.select-multi label:before {
    content: url("../images/icon_select.png");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.select-multi input:checked + label {
    background-color: #ddaa55;
    color: #fff;
}

.select-multi input:checked + label:before {
    content: url("../images/icon_selected.png");
}

.content-group-control select {
    padding: 0px 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 260px;
    height: 40px;
    margin-left: 15px;
    margin-right: 34px;
}

.content-group-control .calender-picker {
    position: relative;
}

.content-group-control .calender-picker input {
    height: 40px;
    width: 175px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin: 0 12px;
}

.content-group-control .calender-picker img {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.input-last {
    height: 40px;
    width: 297px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-left: 15px;
}

.bottom-form { padding: 15px; }

.bottom-form button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #40a28b;
    width: 360px;
    min-height: 55px;
    color: #fff;
    border: none;
}

/* list table */

.content-list-table-02 {
    border-collapse: collapse;
    border: 1px solid #ddd;
    table-layout: auto;
    width: 100%;
}

.content-list-table-02 .fix-width { width:180px; }

.content-list-table-02 tr,
.content-list-table-02 tr th,
.content-list-table-02 tr td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 16px 19px 15px;
}

.content-list-table-02 thead tr th {
    text-align: center;
    background-color: #edf0f4;
    font-weight: normal;
    position: relative;
}

.content-list-table-02 thead tr .col-sort { cursor: pointer; }

.content-list-table-02 thead tr .col-sort:before{
    content: '\f0d7';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.content-list-table-02 thead tr .col-sort.select-sort:before { content: '\f0d8'; }

.content-list-table-02 tbody tr:nth-child(n) { background-color: #fff; }

.content-list-table-02 tbody tr:nth-child(2n),
.content-list-table-02 tbody tr:hover { background-color: #f9f9f9; }

.content-list-table-02 button {
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    min-height: 45px;
    width: 100%;
    cursor: pointer;
}

.content-list-table-02 button:focus { outline: none; }

.content-list-table-02 button.btn-add { background-color: #ddaa55}

.content-list-table-02 button.btn-added { background-color: #828282}

.content-list-table-02 button.btn-added[disabled] { cursor: not-allowed; }

.pagination > li > a,
.pagination > li > span {
    padding: 14px 20px;
    font-size: 15px;
    color: #333;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #ddaa55;
    border-color: #ddaa55;
}

.fix-display {
    display: inline-block;
    margin-bottom: 18px;
}

/* Set color for placeholder */

::-webkit-input-placeholder { /* WebKit browsers */
    color: #cfcfcf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cfcfcf;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cfcfcf;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #cfcfcf;
}

/* Login Page */

#container-login {
    position: relative;
    min-height: 100%;
}

#container-login video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/bg_login_page.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

#container-login .content-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
}

.logo-login-page {
    margin-bottom: 24px;
}

#container-login form { margin-bottom: 28px; }

#container-login form p{ margin-bottom: 20px; }

#container-login input {

    /* an_tnh_sc_130_start */
    width: 25%;
    /* an_tnh_sc_130_end */

    border: none;
    border-radius: 20px;
    height: 40px;
    padding: 0 40px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;

    /* an_tnh_sc_130_start */
    display: inline-block;
    /* an_tnh_sc_130_end */
}

/* an_tnh_sc_130_start */
.p_reg_success {
    background: #b2e89bbd;
    padding: 10px;
    width: 50%;
    color: black;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
}
/* an_tnh_sc_130_start */

#container-login input[type="submit"] {
    background-color: #ddaa55;
    color: #fff;
}

#container-login input:focus {
    outline: none;
}

#container-login .content-form a {
    color: #fff;
    text-decoration: underline;
}

#container-login .content-form a:focus,
#container-login .content-form a:hover {
    color: #fff;
    text-decoration: none;
}

/* an_tnh_sc_130_start */
.fix-margin-01 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* an_tnh_sc_130_end */

#container-login .content-form small {
    font-size: 12px;
    color: #fff;
}

.mg-0 { margin: 0; }

#container-login form p.has-error { margin-bottom: 0; }

#container-login form p.has-error input { border: 1px solid red; }

.error-message { color: red; }

/* Sort 01 page */
.form-sort-01 .content-group-control .calender-picker input {
    margin: 0 7px;
}

.form-sort-01 .content-group-control select { margin-right: 0; }

.fix-mg-r-01 { margin-right: 19px; }

.fix-mg-r-02 { margin-right: 26px; }

.fix-col-btn { width: 99px; }

.fix-col-checkbox { width: 107px; }

.fix-table-01 tr th.fix-col-checkbox { padding: 16px 16px 15px; }

.fix-table-01 button {
    margin: 0 -7px;
    width: calc(100% + 14px);
    min-height: 40px;
}

.fix-table-01 tr,
.fix-table-01 tr th,
.fix-table-01 tr td { vertical-align: middle; }

.content-list-table-02.fix-table-01 thead tr .col-sort:before{
    content: '';
}

.content-list-table-02.fix-table-01 thead tr .col-sort.select-sort:before { content: ''; }

.content-list-table-02.fix-table-01 thead tr .col-sort:after{
    content: '\f0d7';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 6px;
}

.content-list-table-02.fix-table-01 thead tr .col-sort.select-sort:after { content: '\f0d8'; }

.content-list-table-02.fix-table-01 thead tr th:first-child { width: 149px; }

.fix-col-date { width: 120px; }

.total-records .pagination { margin-top: 0; }

.total-records { margin-top: 26px; }

.navbar-nav { margin: 0; }

/* Information company page */
.title-h3 {
    border-left: 4px solid #ddaa55;
    font-size: 20px;
    line-height: 27px;
    padding-left: 16px;
    margin-bottom: 20px;
}

.table-type-01 {
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 15px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 40px;
    table-layout: auto;
}

.table-type-01 th {
    background-color: #f6f6f6;
    width: 324px;
}

.table-type-01 th,
.table-type-01 td {
    border: 1px solid #ddd;
    padding: 12px 43px 9px;
    box-sizing: border-box;
}
/**/
.container-thumbnail {
    width: 450px;
    float: left;
    margin-right: 20px;
}

.container-table-detail {
    width: calc(100% - 470px);
    float: left;
}

.image-big {
    margin-bottom: 10px;
}

.container-sub-images {
    margin: 0 -5px;
}

.small-image {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.container-table-detail table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}

.container-table-detail th,
.container-table-detail td {
    border: 1px solid #ddd;
    padding: 20px 25px
}

.container-table-detail th {
    background-color: #f6f6f6;
    width: 270px;
}

/**/

.content-box-form {
    background-color: #f8f2cd;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 35px 25px 35px 40px;
    width: 100%;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 26px;
}

.content-box-form table {
    table-layout: auto;
    width: 100%;
}

.content-box-form table td:first-child { width: 140px; }

.content-box-form table td { padding-bottom: 30px; }

.content-box-form table tr:last-child td { padding-bottom: 0; }

.content-box-form select {
    width: 262px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 20px;
}

.content-box-form button {
    background-color: #3399dd;
    border: none;
    width: 127px;
    min-height: 40px;
    border-radius: 3px;
    color: #fff;
    margin-left: 16px;
}

.content-box-form button.btn-danger-clear-file{
    color: #fff!important;
    background-color: #954120!important;
    border-color: #78341a!important;
    padding: 1px!important;
    min-height: 0!important;
    width: 50px!important;
}

.content-group-controls-01 button.btn-danger-clear-file{
    color: #fff!important;
    background-color: #954120!important;
    border-color: #78341a!important;
    padding: 1px!important;
    min-height: 0!important;
    width: 50px!important;
    height: 29px!important;
    font-size: 15px!important;
}

.content-box-form input[type="text"] {
    width: 614px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 20px;
}

.content-box-form textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 350px;
    padding: 20px;
}

.content-box-form label { margin: 0; }

.content-box-form input[type="file"] { display: none; }

.content-box-form input[type="file"] ~ label {
    min-width: 150px;
    display: inline-block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #9c9b9b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #9c9b9b , #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #9c9b9b , #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #9c9b9b , #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #9c9b9b , #efefef); /* Standard syntax */
    text-align: center;
    padding: 6px;
}

.form-content-01 input:focus,
.form-content-01 select:focus,
.form-content-01 textarea:focus,
.form-content-01 button:focus,
.fix-content-01 select:focus,
.fix-content-01 textarea:focus,
.fix-content-01 button:focus { outline: none; }

.form-content-01 { margin-bottom: 60px; }

.form-content-01 button[type="submit"] {
    min-height: 55px;
    border: none;
    width: 260px;
    background-color: #40a28b;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
}

.fix-content-01 .a-col:first-child {
    width: 45%;
    padding-right: 35px;
}

.fix-content-01 .a-col:last-child { width: 55%; }

.fix-content-01 select {
    width: 432px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.fix-content-01 select[disabled] {
    cursor: not-allowed;
    background-color: #ccc;
}

.fix-content-01 textarea {
    width: 100%;
    height: 310px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
}

.fix-content-01 button {
    width: 197px;
    min-height: 55px;
    border-radius: 3px;
    border: none;
    background-color: #d5a556;
    font-size: 20px;
    color: #fff;
}

.fix-content-01 p { margin-bottom: 30px; }

.fix-content-01 table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    font-size: 15px;
    line-height: 27px;
}

.content-2col.fix-content-01 .a-col tr td:first-child {
    padding: 7px 28px;
    width: 80px;
}

.fix-content-01 table td {
    border: 1px solid #ddd;
    padding: 6px 37px 5px;
}

.fix-width-col-01 { width: 210px; }

.btn-fixing button {
    min-height: 55px;
    border: none;
    width: 197px;
    background-color: #40a28b;
    font-size: 20px;
    color: #fff;
    border-radius: 3px;
}

/*
* Format post
* Prefix: .container section > article .ql-editor
*/
.container section > header.title-top {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 17px;
    margin-top: 18px;
    padding: 14px 20px;
    border: none;
}

.container section > article .content-post .ql-editor {
    margin: 21px 29px 45px 29px;
    padding: 0;
    white-space: normal;
}

.container section > article .ql-editor h1 {
    padding-bottom: 5px;
    border-bottom: 1px dotted #333;
    margin: 0 40px 20px;
    font-size: 25px;
    line-height: 27px;
}

.container section > article .ql-editor p {
    font-size: 18px;
    line-height: 35px;
    margin: 0 40px;
}

.container section > article .ql-editor strong {
    padding: 23px 40px 20px;
    margin: 0 0 40px;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
    background-color: #333;
    display: block;
}

.container section > article .ql-editor em {
    padding: 16px 40px 16px;
    margin: 0 0 40px;
    font-size: 22px;
    line-height: 27px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-style: normal;
    display: block;
}

.container section > article .ql-editor h4 {
    padding: 10px 36px 10px;
    margin: 0 40px 40px;
    font-size: 22px;
    line-height: 27px;
    border-left: 6px solid #333;
}

.container section > article .ql-editor u,
.container section > article .ql-editor s {
    padding: 0 40px 0 40px;
    background-color: #f3efe4;
    margin: 0;
    font-size: 18px;
    line-height: 35px;
    display: block;
    text-decoration: none;
}

.container section > article .ql-editor s {
    border: none;
    position: relative;
    z-index: 10;
    background-color: transparent;
    background-color: #f6f7f7;
}

/*.container section > article .ql-editor .quote {*/
    /*position: relative;*/
    /*padding: 40px 0;*/
/*}*/

/*.container section > article .ql-editor .quote::before {*/
    /*background: url("../images/quote_before.png") no-repeat center;*/
    /*content: "";*/
    /*height: 83px;*/
    /*width: 89px;*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*left: 20px;*/
    /*z-index: 1;*/
/*}*/

/*.container section > article .ql-editor .quote::after {*/
    /*background: url("../images/quote_after.png") no-repeat center;*/
    /*content: "";*/
    /*height: 83px;*/
    /*width: 89px;*/
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*right: 24px;*/
    /*z-index: 1;*/
/*}*/

.container section > article .ql-editor h2 {
    font-size: 22px;
    line-height: 27px;
    margin: 0 40px 35px;
    border: none;
}

.container section > article .ql-editor ol {
    list-style: decimal;
    font-size: 18px;
    line-height: 35px;
    margin: 0 40px 40px;
    list-style-position: inside;
    padding: 0;
}

.container section > article .ql-editor a {
    font-size: 18px;
    line-height: 35px;
    margin: 0;
    text-decoration: underline;
}

.container section > article .ql-editor a:hover { text-decoration: none; }

.fix-width-btn-01 { min-width: 174px; }

.fix-width-btn-02 { min-width: 139px; }

.fix-width-btn-03 { min-width: 75px; }

.td-price-list a {
     margin: 0 !important;
    padding: 8px 12px !important;
}

.content-list-table-02.fix-table-02 thead tr th:first-child { width: auto; }

.fix-table-02 .btn { padding: 8px 12px; }

.fix-bg-color {
    background-color: #2cb18d;
    border: none;
}

.fix-bg-color:hover {
    background-color: #199775;
}

.fix-w-col-01 { width: 99px !important; }

.fix-w-col-02 { width: 201px; }

.fix-w-col-03 { width: 159px; }

.navbar-default .navbar-nav>li>a {
    color: #333;
    padding: 16px 15px 16px 54px;
    min-height: 50px;
    position: relative;
    line-height: 1;
}

.navbar-default li .navbar-nav>li>a { padding-left: 40px; }

.navbar-default .navbar-nav>li>a>img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.fix-w-input-01 { width: 450px; }

.fix-width-btn-04 { width: 360px; }

.fix-btn-01 {
    width: 75px;
    background-color: #d5a556;
    border: none;
}

.fix-btn-01:hover { background-color: #b38a48; }

.fix-form-01 { margin-bottom: 20px; }

.fix-form-01 .content-group-control { padding-top: 13px; }

.fix-form-01 .fix-display { margin-bottom: 13px; }

.w-100 { width: 100px !important; }
.w-125 { width: 125px !important; }

/* Fix container */

#container.fix-container-01 > article {
    width: 1000px;
    margin: 40px auto 108px;
    background-color: #fff;
    padding: 34px 40px;
    border-bottom: 1px solid #e8e8e8;
    min-height: 570px;
}

#container.fix-container-01 h2.h2-01 {
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 25px;
    padding: 4px 17px;
    font-weight: bold;
}

#container.fix-container-01 .content-control-01 {
    margin: 0 32px 0;
    border-collapse: collapse;
    width: calc(100% - 64px);
    font-size: 14px;
    line-height: 27px;
}

#container.fix-container-01 tr td { padding-bottom: 25px; }
#container.fix-container-01 tr:last-child td:last-child { padding-bottom: 45px; }

#container.fix-container-01 tr td:first-child {
    width: 243px;
}

#container.fix-container-01 input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
}

#container.fix-container-01 .text-danger {
    font-size: 11px;
    color: #e05b45;
}

#container.fix-container-01 > footer { padding-left: 0; }

.mg-l-22 { margin-left: 22px; }

.w-250 { width: 250px; }

.min-height-45 { min-height: 45px !important; }

.fs-15 { font-size: 15px !important; }

/*for report list*/
.fix-top-layout{
    padding-right: 0px;
    padding-left: 0px;
}
/*
 *
 * Home page
 */
.content-row-table-01 {
    margin: 0 -5px 40px;
    vertical-align: middle;
    border-collapse: collapse;
}

.content-row-table-01 > * {
    float: left;
    margin: 5px;
}

.content-row-table-01 th,
.content-row-table-01 td {
    width: 160px;
    text-align: center;
}

.content-row-table-01 th {
    background-color: #ddaa55;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
}

.content-row-table-01 th:first-child { border-top-left-radius: 6px; }

.content-row-table-01 th:last-child { border-top-right-radius: 6px; }

.content-row-table-01 th.bg-head-table-01 { background-color: #e05b45; }

.content-row-table-01 th.bg-head-table-02 { background-color: #2cb18d; }

.content-row-table-01 td {
    position: relative;
    height: 58px;
    padding: 8px 11px 0 9px;
    vertical-align: bottom;
}
.content-row-table-01 td:before {
    content: attr(data-before);
    position: absolute;
    left: 7px;
    top: 5px;
}

.content-row-table-01 td:after {
    content: attr(data-after);
    position: absolute;
    right: 17px;
    bottom: 4px;
}

.content-row-table-01 td > span {
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 2px;
    font-size: 35px;
    line-height: 30px;
}

.content-row-table-01 td > span.fix-font-number { font-size: 22px; }

.nav-tabs > li > a {
    border-radius: 0;
    color: #333;
    font-size: 16px;
    line-height: 27px;
    width: 220px;
    margin-right: 6px;
    background-color: #eee;
    text-align: center;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: default;
    background-color: #fff;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
    z-index: 10;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-color: transparent;
    position: relative;
}

.nav-tabs > li:first-child > a,
.nav-tabs > li:first-child > a::after { border-top-left-radius: 3px; }

.nav-tabs > li.active > a::after {
    height: 3px;
    width: 100%;
    background-color: #ddaa55;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.nav-tabs > li.active > a > i {
    color: #ddaa55;
}

.content-charts-01 {
    background-color: #f2f0ea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 13px;
    margin-bottom: 12px;
}

.content-chart-01 {
    width: 100%;
    overflow: hidden;
    background: url("../images/bg_chart_01.png") repeat center;
    height: 532px;
    box-shadow: 0 0 5px #e9e7e1;
    margin-bottom: 20px;
}

.tips {
    float: left;
    width: 192px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 15px 0 12px;
    padding: 10px 0;
    font-size: 13px;
    line-height: 1;
    position: relative;
}

.tips:before {
    content: url("../images/icon_arrow_tip.png");
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    line-height: 0;
    font-size: 0;
}

.tip {
    padding: 6px 32px;
    position: relative;
}

.tip > span {
    color: #ddaa55;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 8px;
    bottom: 0;
}

.tip > span > small { font-size: 12px; }

.tip:before {
    content: "";
    display: block;
    height: 6px;
    width: 6px;
    background-color: #ddaa55;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}

.tip.tip-type-01 > span { color: #e05b45; }

.tip.tip-type-02 > span { color: #2cb18d; }

.tip.tip-type-01:before { background-color: #e05b45; }

.tip.tip-type-02:before { background-color: #2cb18d; }

.title-chart-01 {
    background-color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    padding: 14px 12px 10px;
    margin-bottom: 20px;
}

.title-chart-01 .pull-right {
    font-size: 15px;
    line-height: 1;
}

.title-chart-01 .pull-right input[type="text"] {
    height: 35px;
    width: 166px;
    padding: 5px 24px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
}

.title-chart-01 .pull-right button {
    height: 35px;
    width: 127px;
    padding: 5px 24px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #2481c2;
    color: #fff;
    margin-left: 8px;
}

.title-chart-01 .pull-right select {
    height: 35px;
    width: 262px;
    padding: 5px 24px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
}

.title-chart-01 .pull-right input[type="text"]:focus,
.title-chart-01 .pull-right select:focus,
.title-chart-01 .pull-right button:focus { outline: none; }

.content-table-01 {
    margin-bottom: 36px;
    border-radius: 3px;
    background-color: #eee;
}

.content-table-01 table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
}

.content-table-01 table thead th {
    background-color: #748db7;
    border-right: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding: 10px 10px 9px;
    font-weight: normal;
}

.content-table-01 table thead th:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

.content-table-01 table thead th:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    border-right: none;
}

.content-table-01 table tbody td {
    border: 1px solid #ddd;
    padding: 11px 10px 10px;
}

.content-table-01 table tbody td > span {
    position: relative;
    display: inline-block;
}

.content-table-01 table tbody td > span:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ddaa55;
    margin-right: 10px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.content-table-01 table tbody td > span.tip-type-01:before { background-color: #005162; }

.content-table-01 table tbody tr { background-color: #fff; }

.content-table-01 table tbody tr:nth-child(2n),
.content-table-01 table tbody tr:hover { background-color: #f9f9f9; }

.content-group-button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 7px;
    box-shadow: 0 0 2px 1px #e9e7e1;
    margin-bottom: 18px;
}

.content-group-button button {
    background-color: #494949;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    width: 152px;
    box-sizing: border-box;
    color: #fff;
    border:none;
    margin-right: 4px;
    font-size: 15px;
    line-height: 18px;
}

.content-group-button button.active { background-color: #ddaa55; }

.content-group-button button:focus { outline: none; }

.fix-content-tips-01 .tips {
    width: 102px;
    margin: 0 4px 0 3px;
}

.fix-content-tips-01 .tips .tip { padding: 6px 10px 6px 22px; }

.fix-content-tips-01 .tips .tip:before { left: 10px; }

.fix-content-table-01 table { width: auto; }

.fix-content-table-01 > table { width: 220px; }

.fix-content-table-01 > table  thead th:last-child {
    border-top-right-radius: 0;
    border-right: 1px solid #fff;
}

.content-overflow-01 {
    width: calc(100% - 220px);
    width: calc(100% - 220px);
    overflow: auto;
}

.content-overflow-01 table {
    table-layout: fixed;
    width: inherit;
}

.content-overflow-01 thead th {
    width: 160px;
}

.fix-content-table-01 .content-overflow-01 table  thead th:first-child { border-radius: 0; }

.mgLR-20 { margin: 0 20px; }

.mgR-37 { margin-right: 37px; }

.mgR-20 { margin-right: 20px; }

.mgR-16 { margin-right: 16px; }

.fixed-content { min-width: 1380px; }

/* set icon tab */

.nav-tabs > li > a { position: relative; }

.nav-tabs > li > a:before {
    content: url("../images/icon_tab_01_off.png");
    margin-right: 10px;
    transform: translateY(3px);
    display: inline-block;
}

.nav-tabs > li:nth-child(2) > a:before { content: url("../images/icon_tab_02_off.png"); }

.nav-tabs > li.active > a:before { content: url("../images/icon_tab_01_on.png"); }

.nav-tabs > li:nth-child(2).active > a:before { content: url("../images/icon_tab_02_on.png"); }


/*Detail mail*/
button.button-back {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #ddaa55;
    width: 360px;
    min-height: 55px;
    color: #fff;
    border: none;
}


/* common form */
.content-group-controls-01 {
    padding: 0 20px 20px;
    border-bottom: 1px dotted #a0a0a0;
    margin: 0 20px 38px;
}

.content-group-controls-01 table {
    width: 100%;
    border-collapse: collapse;
}

.content-group-controls-01 input,
.content-group-controls-01 select,
.content-group-controls-01 textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 27px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 27px;
}

.content-group-controls-01 input,
.content-group-controls-01 select { height: 40px; }

.content-group-controls-01 tr td:first-child {
    width: 214px;
    font-size: 15px;
}

.content-group-controls-01 tr td { padding: 10px; }

.content-group-controls-01 tr td strong {
    font-size: 11px;
    color: #e05b45;
    padding: 5px 18px;
}

.content-group-controls-01 tr td.content-icon-01 {
    width: 78px;
    text-align: center;
}

/* Set color for placeholder */

.content-group-controls-01 ::-webkit-input-placeholder { /* WebKit browsers */
    color: #cfcfcf;
}
.content-group-controls-01 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cfcfcf;
}
.content-group-controls-01 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cfcfcf;
}
.content-group-controls-01 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #cfcfcf;
}

/*Transelate list*/
.bottom-form .fix-width-btn-05 {
    width: 232px;
    min-height: 40px;
    font-size: 15px;
    margin-left: 25px;
}

.pdT-0 { padding-top: 0; }

.fix-width-btn-06{
    width: 200px;
    min-height: 40px;
    font-size: 15px;
}
/*End Transelate list*/

/*Create translate*/
.title-create-translate{
    font-size: 14px;
    margin-bottom: 10px;
}
.mgT-25{
    margin-top: 25px;
}
.border-create-translate{
    height: 34px;
    border-bottom: 1px dotted #000;
}
.mgT-27{
    margin-top: 27px;
}
.back-translate{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #bf5329;
    width: 230px;
    min-height: 40px;
    color: #fff;
    border: none;
    margin-right: 20px;
}
.save-translate{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #3399dd;
    width: 230px;
    min-height: 40px;
    color: #fff;
    border: none;
    margin-right: 20px;
}
.submit-translate{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #40a28b;
    width: 230px;
    min-height: 40px;
    color: #fff;
    border: none;
}
.mgB-40{
    margin-bottom: 40px;
}
/*End Create translate*/

/*Detail translate*/
.detail-back-translate{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #d5a556;
    width: 230px;
    min-height: 40px;
    color: #fff;
    border: none;
    margin-right: 20px;
}
.mgT-33{
    margin-top: 33px;
}
/*End Detail translate*/


/*Send Product list*/
.fix-w-input-02 {
    width: 620px;
}

.fix-bottom-layout {
    padding-bottom: 15px;
}

section.fixed-min-width{
    min-width: 1472px;
}

.pdLR-0{
    padding-left: 0;
    padding-right: 0;
}
/*End Send Product list*/
/*template-mail-create*/
table.template-mail-create>tr>td>span{
    border-left: 4px solid #a0a0a0;
    padding-left: 10px;
}
.back-template-mail-create{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #bf5329;
    width: 260px;
    min-height: 55px;
    color: #fff;
    border: none;
    margin-right: 20px;
}
.submit-template-mail-create{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 15px;
    background-color: #40a28b;
    width: 260px;
    min-height: 55px;
    color: #fff;
    border: none;
}
table.template-mail-create tr td:first-child{
    width: 380px;
    height: 24px;
}
table.template-mail-create tr td:first-child>span{
    font-size: 14px;
    border-left: 4px solid #a0a0a0;
    padding-left: 10px;
    line-height: 27px;
    height: 24px;
    display: inline-block;
}
.mgB-30{
    margin-bottom: 30px;
}
.mgB-20{
    margin-bottom: 20px;
}
table.template-mail-create input[type="file"] { display: none; }

table.template-mail-create input[type="file"] ~ label {
    min-width: 170px;
    display: inline-block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #9c9b9b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #9c9b9b , #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #9c9b9b , #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #9c9b9b , #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #9c9b9b , #efefef); /* Standard syntax */
    text-align: center;
    padding: 6px;
}
/*End template-mail-create*/

/*List Product*/

.w-150 { width: 150px !important; }
.fix-table-01_fix_01 tr td { vertical-align: top; }

/*End List Product*/

/* create product */

.content-group-controls-01 tr td button[type="button"] {
    background-color: #eee;
    width: 230px;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    font-size: 20px;
}

.date-delivery {
    width: 250px !important;
    display: inline !important;
}

.btn-submit,
.back-list {
    height: 40px;
    min-width: 240px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
}

.content-group-controls-01 input[disabled],
.content-group-controls-01 select[disabled],
.content-group-controls-01 textarea[disabled],
.content-group-controls-01 button[disabled] { cursor: not-allowed; }

.btn-submit { background-color: #40a28b; }

.back-list { background-color: #bf5329; }


.w-330 { width: 330px !important; }

.height-170 { height: 170px !important; }

.mgL-12 { margin-left: 12px !important; }

.mgL-16 { margin-left: 16px !important; }

.mgT-12 { margin-top: 12px !important; }

.mgB-60 { margin-bottom: 60px !important; }

.fs-13 { font-size: 13px !important; }

.content-group-controls-01 caption {
    border-left: 4px solid #a0a0a0;
    padding-left: 12px;
}
/*Report Create*/
.require-report-create{
    font-size: 11px;
    color: #e05b45;
    padding: 5px 18px;
}
.title-report-create{
    font-size: 14px;
    border-left: 4px solid #a0a0a0;
    padding-left: 10px;
    line-height: 27px;
    height: 24px;
    display: inline-block;
}
.label-report-create{
    font-size: 14px !important;
    line-height: 27px !important;
    display: inline-block;
}
.lh{
    line-height: 10;
}
.fw-400{
    font-weight: 400!important;
}
.hr-dotted{
    border-top:1px dotted #000;
}
.hr-dotted-last{
    margin-top: -30px;
}
.select-create-report{
    height: 40px!important;
    width: 330px!important;
}
.file-invoice-create-report input[type="file"] { display: none; }

.file-invoice-create-report input[type="file"] ~ label {
    min-width: 170px;
    display: inline-block;
    height: 33px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #9c9b9b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #9c9b9b , #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #9c9b9b , #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #9c9b9b , #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #9c9b9b , #efefef); /* Standard syntax */
    text-align: center;
    padding: 6px;
}
.file-packing-list-create-report input[type="file"] { display: none; }

.file-packing-list-create-report input[type="file"] ~ label {
    min-width: 170px;
    display: inline-block;
    height: 33px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #9c9b9b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #9c9b9b , #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #9c9b9b , #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #9c9b9b , #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #9c9b9b , #efefef); /* Standard syntax */
    text-align: center;
    padding: 6px;
}
.submit-report-create{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 20px;
    background-color: #40a28b;
    width: 260px;
    min-height: 55px;
    color: #fff;
    border: none;
    margin-top: 35px;
}
/*End Report Create*/

/*List Price*/

.fix-btn-size-01{
    min-width: 110px;
    min-height: 40px;
    font-size: 15px;
}

.fix-btn-size-02{
    min-width: 75px;
    min-height: 40px;
    background-color: #e05b45;
    border: none;
    font-size: 15px;
}

.fix-btn-size-03{
    min-width: 220px;
    border: none;
    font-size: 15px;
}

.fix-btn-size-04{
    min-width: 150px;
    border: none;
    font-size: 15px;
}

.fix-width-btn-07{
    min-width: 200px;
    min-height: 40px;
    background-color: #2986c7;
}

/*End List Price*/

.content-group-controls-01 input[type="radio"],
.content-group-controls-01 input[type="checkbox"] {
    width: inherit;
    display: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
}

.content-input-file label { margin: 0; }

.content-input-file input[type="file"] { display: none; }

.content-input-file input[type="file"] ~ label {
    min-width: 150px;
    display: inline-block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #9c9b9b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #9c9b9b , #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #9c9b9b , #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #9c9b9b , #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #9c9b9b , #efefef); /* Standard syntax */
    text-align: center;
    padding: 9px 6px 8px;
}

.content-input-file > label { margin-right: 16px; }

.fix-table-03.content-group-controls-01 { margin-bottom: 14px; }

.fix-table-03.content-group-controls-01 tr td:first-child .title-control { font-size: 14px; }

.fix-table-03.content-group-controls-01 tr td:first-child {
    width: 380px;
    vertical-align: middle;
}

.fix-table-03 label { font-weight: normal; }

.fix-table-03 label>input[type="radio"] {
    margin-top: -3px;
    margin-right: 14px;
}

.calender-picker {
    position: relative;
    display: inline-block;
}

.calender-picker input {
    width: 218px;
    min-height: 40px;
}

.calender-picker img {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px;
}

.button-type-01 {
    width: 360px;
    min-height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #40a28b;
    font-size: 20px;
    border: none;
}

.mgB-45 { margin-bottom: 45px !important; }

.mgT-30 { margin-top: 30px !important; }

.fix-height-btn-01{
    min-height: 40px;
}

.fix-width-product-description{
    min-width: 450px;
}
.div-first-create-send-product{
    background-color: #f9f9f9;
    margin-left: 12px;
    margin-right: 20px;
    margin-bottom: 45px;
    margin-top: 9px;
    height: 155px;
}
.div-in-create-send-product{
    padding-top: 35px;
}
.p-first-create-send-product{
    color: #cc3d25;
    font-size: 23px;
    line-height: 1;
    margin-bottom: 10px;
}
.p-create-send-product{
    font-size: 18px;
    color: #333333
}
.btn-back-report-detail{
    width: 150px;
    min-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #cc3d25;
    font-size: 15px;
    border: none;
    margin-right: 15px;
}
.btn-create-report-detail{
    width: 150px;
    min-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #40a28b;
    font-size: 15px;
    border: none;
}
/*.col-company-strength {*/
    /*width: 600px !important;*/
/*}*/
/*.col-request{*/
    /*width: 200px!important;*/
/*}*/
/*.col-date{*/
    /*width: 200px!important;*/
/*}*/
/*.col-country{*/
    /*width: 100px!important;*/
/*}*/
/*.col-mtb-genre{*/
    /*width: 200px!important;*/
/*}*/
/*.col-product-description-jp{*/
    /*width: 400px!important;*/
/*}*/
/*.col-button-attack{*/
    /*width: 300px!important;*/
/*}*/