@charset "utf-8";

/* =======================================

	Arcive・Search

======================================= */

#childCategory {
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 0 10px 20px;
    padding: 10px 5px;
    border-radius: 5px;
}

#childCategory li {
    font-size: small;
    font-weight: 600;
    border-right: 1px solid #ddd;
    margin: 5px 0;
    padding: 0 20px;
    float: left;
}

#childCategory li:last-child {
    border-right: none;
}

#childCategory li a {
    color: #124;
    text-decoration: underline;
}

#childCategory li a:hover {
    color: #0af;
    text-decoration: none;
}

#childCategory li ul {
    display: none;
}

.cat-item-none {
    display: none;
}

@media screen and (max-width: 480px) {

#childCategory {
    margin: 0 0 20px;
    padding: 10px 0;
}

#childCategory li {
    width: 50%;
    text-align: center;
    padding: 0;
}

#childCategory li:nth-child(even) {
    border-right: none;
}

}

#notYet {
    text-align: center;
    padding: 20px 0;
}
    
#notYet img {
    display: block;
    width: 25%;
    margin: 0 auto 40px;
}

#notYet #requestForm {
    width: 80%;
    border: 2px dashed #094;
    background: #f5f8ec;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

#notYet #requestForm form {
    width: 75%;
    margin: 10px auto 0;
}

#notYet #requestForm #formTtl {
    color: #094;
    font-family: 'Hind', sans-serif;
    font-size: x-large;
    font-weight: 300;
}

#notYet #requestForm form input,
#notYet #requestForm form textarea,
#notYet #requestForm form select {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

#notYet #requestForm form input.submitBtn {
    width: 50%;
    margin: 10px auto;
    padding: 20px 0;
}

@media screen and (max-width: 800px) {

#notYet #requestForm {
    width: 100%;
}

#notYet #requestForm form {
    width: 80%;
}

}

@media screen and (max-width: 480px) {

#notYet img {
    width: 50%;
}

#notYet #requestForm form {
    width: 100%;
}

#notYet #requestForm form input.submitBtn {
    width: 80%;
}

}
