@charset "utf-8";

/* ==============================================================================

	Item list

============================================================================== */

h2.categoryName {
    font-family: 'Hind', sans-serif;
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    padding: 20px 0;
    position: relative;
    clear: both;
}

h2.categoryName::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50%;
}

h2.categoryName span {
    background: #fff;
    position: relative;
    padding: 0 20px;
    z-index: 10;
}

h2.categoryName a {
    color: #124;
    text-decoration: none;
}

h2.categoryName a:hover {
    color: #0af;
    text-decoration: none;
}

h2.categoryName a.seeAll {
    font-family: 'Hind', sans-serif;
    font-size: medium;
    font-weight: normal;
    background: #fff;
    padding: 0 10px 0 20px;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;
}

.itemList {
    zoom: 1;
}

.itemList:after {
    content: "";
    display: block;
    clear: both;
}

.itemList li {
    width: 20%;
    padding: 20px 20px 80px;
    float: left;
    position: relative;
}

.itemList li h3 {
    margin: 10px 0;
}

.itemList li .itemQuote {
    width: 100%;
    margin: 0 -20px;
    position: absolute;
    bottom: 20px;

}

.itemList li .itemPrice {
    font-size: large;
    font-weight: 600;
    margin: 0 20px;
}

.itemList li .itemPrice span {
    font-size: small;
}

.itemList li .indetailBtn {
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background: #0af;
    margin: 0 20px;
    border-radius: 3px;
    text-shadow: 1px 1px 0 #06c;
    box-shadow: 0 1px 0 #06c;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.itemList li:hover .indetailBtn {
    background: #0af;
    text-shadow: 1px 1px 0 #0af;
    box-shadow: 0 1px 0 #0af;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.itemList li a {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

.itemList li a:hover{
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    -webkit-transition-duration:0.3s;
    transition-duration: 0.3s;
}

@media screen and (max-width: 800px) {

#newArrivals .itemList li:last-child {
    display: none;
}

.itemList li {
    width: 25%;
}

}

@media screen and (max-width: 480px) {

h2.categoryName {
    font-size: x-large;
}

h2.categoryName a.seeAll {
    display: none;
}

#newArrivals .itemList li:nth-child(3),
#newArrivals .itemList li:nth-child(4) {
    display: none;
}

.itemList li {
    width: 50%; 
    margin: 5px 0;
    padding: 10px 10px 60px;
}

.itemList li .itemQuote {
    margin: 0 -10px;
}

.itemList li .itemPrice {
    margin: 0 10px;
}

.itemList li .indetailBtn {
    margin: 0 10px;
}

}

/* ページネーション
----------------------------- */

.pagenation {
    text-align: center;
    margin: 20px 0;
}

.pagenation ul {
    overflow: hidden;
    display: inline-block;
    margin: 0;
}

.pagenation li {
    font-size: small;
    line-height: 1;
    border: 1px solid #145;
    margin: 0 0 0 3px;
    float: left;
}

.pagenation li.active {
    color: #fff;
    background: #145;
    padding: 8px 13px;
}

.pagenation li a {
    display: block;
    color: #145;
    text-decoration: none;
    background: #fff;
    padding: 8px 13px;
}

.pagenation li a:hover {
    color: #fff;
    background: #145;
}
