@charset "utf-8";

/* ==============================================================================

	Side Bar

============================================================================== */

aside {
    width: 200px;
    padding: 20px 0;
    float: left;
    top: 90px;
    z-index: 9999;
}

#categoryList {
    width: 200px;
}

#categoryList > li > a {
    display: block;
    font-weight: 600;
    padding: 5px 0;
    position: relative;
}

#categoryList > li > a::after {
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    margin-top: -5px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#categoryList li a.arrow-ress::after {
    display: none;
}

#categoryList dl {
    display: none;
    position: absolute;
    top: 0;
    right: 410px;
    width: 600px;
    height: 400px;
    background: #fff;
    padding: 20px;
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.25)
}

#categoryList li:hover dl {
    display: block;
    z-index: 9999;
}

#categoryList li:hover dl dt {
    font-size: x-large;
    font-weight: 300;
    margin: 0 0 20px;
}

#categoryList dl dd {
    width: 50%;
    float: left;
}

#categoryList dl dd a {
    display: inline-block;
    font-weight: 600;
    padding: 5px 0;
}

#categoryList i {
    width: 1em;
    text-align: center;
    margin: 0 0.5em 0 0;
}

.pc-side-nav-fixed {
	width: 200px;
    padding: 20px 0;
    float: left;
    position: fixed;
    z-index: 9999;
	top: 40px;
}