@charset "utf-8";

/****************************************

	商品掲載ページ

*****************************************/

#entry-form {
    overflow: hidden;
	width: 100%;
    max-width: 1000px;
	background: #fff;
	margin: 40px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

#entry-form h1 img {
        display: block;
        margin: 80px auto;
        font-weight: normal;
        text-align: center;
}

#entry-form h2 {
        display: block;
        width: 100%;
        max-width: 1000px;
        margin: 80px auto 10px !important;
        padding: 45px 0 10px;
        font-size: 16px;
        text-align: center;
        border-bottom: 3px #000 double;
}

.h2-faq {
        background: url(../images/bgh2-faq.png) top center no-repeat;
}

.h2-support {
        background: url(../images/bgh2-support.png) top center no-repeat;
}

#entry-form table {
        width: 100%;
        max-width: 1000px;
	margin: 10px auto;
}

#entry-form table {
         border-top: 1px dotted #aaa;
}

#entry-form table th{
	width: 32%;
 max-width: 320px;
        padding: 10px 3% 10px 0;
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	font-weight: normal;
        text-align: left;
	border-bottom: 1px dotted #ccc;	
}

#entry-form table th .must {
        display: inline-block;
        margin: 0 5px;
        padding: 0px 4px;
        float: left;
        color: #fafafa;
        font-size: 10px;
        background: #be1025;
        border-radius: 2px;
        vertical-align: bottom;
}        

#entry-form table td {
	width: 65%;
        max-width: 650px;
        padding: 10px 0 10px 0;
	border-bottom: 1px dotted #ccc;	
}

#entry-form table td input[type="text"],
#entry-form table td input[type="email"],
#entry-form table td input[type="tel"],
#entry-form table td input[type="url"],
#entry-form table td input[type="date"],
#entry-form table td textarea {
        margin: 5px 0;
        padding: 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
　　　　float: left;	
}

#entry-form table td textarea {
        width: 100%;
}

#entry-form table td .wpcf7-list-item label {
        display: block;
        margin: -3px 0 !important;
        padding: 10px;
        vertical-align: text-bottom;
        border-radius: 3px;
        border: 1px #dedede solid;
        cursor: pointer;
}

#entry-form table td .wpcf7-list-item label:hover,
#entry-form table td .wpcf7-list-item input[type="checkbox"]:checked,
#entry-form table td .wpcf7-list-item input[type="radio"]:checked {
        background-color: #f1f1f1;
}

#entry-form table td p {
        display: block;
        margin: 0;
        padding: 0;
	font-size: 12px;
        color: #404040;
}

.box-placeholder {
        padding: 10px !important;
        background: #fafafa;
        border: 1px #dedede solid;
}

#entry-form table td .caution {
        color: #be1025;
}

#entry-form .wpcf7-submit {
        display: block;
	width: 40%;
        max-width: 400px;
	margin: 20px auto;
	padding: 20px 0;
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 15px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 5px;
        background: #2bcb6f;
        cursor: pointer;
}

#entry-form .wpcf7-submit:hover {
        background: #27ae61;
}

.caution-entry-form {
        display: block;
        margin: 50px auto 0 !important;
	padding: 30px;
	background: #fafafa;
        border : 4px #aaa double;
}

.caution-entry-form .caution {
	color: #d23333;
	font-weight: bolder;
	background: linear-gradient(transparent 30%, #fff9bb 30%);
}

#faq-entry-form {
       width: 90%;
       margin: 20px auto;
}

.icon-faq-entry-form {
       display: inline-block;
       margin: 0 1% 0 0;
       padding:  5px 11px;
       background: #242424;
       color: #fafafa;
       border: none;
       border-radius: 100px;
}      

#faq-entry-form dd {
       margin: 10px 0 40px;
}

#info-support-center {
       width: 90%;
       margin: 20px auto;
       text-align: center;
}


/*form input[type="radio"] {*/
    /*background: url("../images/form_radio_off.png") no-repeat right center #fff;*/
    /*background-size: 50px 35px;*/
/*}*/

/*form input[type="checkbox"] {*/
    /*background: url("../images/form_check_off.png") no-repeat right center;*/
    /*background-size: 50px 35px;*/
/*}*/

/*form input[type="radio"]:checked {*/
    /*background: url("../images/form_radio_on.png") no-repeat right center;*/
    /*background-size: 50px 35px;*/
/*}*/

/*form input[type="checkbox"]:checked {*/
    /*background: url("../images/form_check_on.png") no-repeat right center;*/
    /*background-size: 50px 35px;*/
/*}*/

/****************************************

	プレイスホルダー文字色

*****************************************/

input::-webkit-input-placeholder {
    color: #aaa;
}
input:-moz-placeholder {
    color: #aaa;
}
      